
<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">add</button>
</div>
<table>
  <td>
    <ul class="heroes">
      <!-- *ngFor geht durch alle Heroes durch
            click onSelect(hero) ist der Trigger um die Details eines Heroes zu öffnen
            class.selected steuert die anders-artige Darstellung des gewählten Heroes gemäß dem .css file
      -->

      <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero"
          (click)="delete(hero)">  x  </button>
      </li>
    </ul>
  </td>
  <td>
    <!-- Übergabe des gewählten Hero's an die Hero-Detail Komponente zum Darstellen deren HTML
        Stichwort: (one way) Property Binding [hero]="selectedHero"
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
    <=> entfällt mit der Einführung des Dashboards
    -->
  </td>
</table>
