
<h2>My Heroes</h2>
<table>
  <td>
    <ul class="heroes">
      <!-- *ngFor geht durch alle Heroes durch
            click onSelect(hero) ist der Trigger um die Details eines Heroes zu öffnen
            class.selected steuert die anders-artige Darstellung des gewählten Heroes gemäß dem .css file
      -->

      <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
      </li>
    </ul>
  </td>
  <td>
    <!-- Übergabe des gewählten Hero's an die Hero-Detail Komponente zum Darstellen deren HTML
        Stichwort: (one way) Property Binding [hero]="selectedHero"
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
    <=> entfällt mit der Einführung des Dashboards
    -->
  </td>
</table>
